//- page-a.pug
extends layout.pug


block content
  div.container
    div.row.text-center
      div.col-12.mt-5
        h5 Forgot Password
        //- if errors 
              each error,i in errors
                p.alert.alert-danger #{error.msg}
        - var formError={};
        if flashMessage && flashMessage.errors 
              each error,i in flashMessage.errors 
                if !formError[error.param]
                  - formError[error.param]=error.msg
        
        include alerts
        
        form(action='/forgotPassword/submitForm' method="POST")
         
          div.form-group
            label Email
            input(type="email" name="email" )
            if formError.email
              div.alert.alert-danger #{formError.email}
          button.btn.btn-primary(type="submit") Submit
          div.mt-4 
            a.btn.btn-primary(href="/login") Go To Login


    
