doctype html
head
  title Forgot Password
body
    p Hey #{user.name},
    p We heard that you lost your password. Sorry about that!
    p But don&rsquo;t worry! You can use the following link to reset your password:
    a(href=`${url}`) #{url}
    p If you don&rsquo;t use this link within 1 hour, it will expire.
    p Do something outside today! 
